{{!-- https://handlebarsjs.com/guide/builtin-helpers.html --}}

<h1>HOME</h1><br><hr>

<div>
    <h2>AUTHENTICATION SYSTEM</h2>
    <a href="/api/sessions/signup"><h3>LOCAL SIGNUP</h3></a>
    <a href="/api/sessions/login"><h3>LOCAL LOGIN</h3></a><br>

    <a href="/api/sessions/github"><h3>GITHUB LOGIN</h3></a><br>

    <a href="/api/sessions/logout"><h3>LOGOUT</h3></a>
</div><br><hr>

<div>
    <h2>NORMAL VIEWS</h2>

    <h3><a href="/products">PRODUCTS - MongoDB</a> (Requiere Login)</h3>
    <a href="/products/642f4e61ad40756bbf17ed9d"><h3>PRODUCTO DE EJEMPLO - MongoDB</h3></a><br>

    <h3><a href="/carts">CARTS - MongoDB</a> (Render en Construcción)</h3>
    <a href="/carts/642f525085f8337b909b3898"><h3>CART DE EJEMPLO - MongoDB</h3></a><br>

    <a href="/chat"><h3>CHAT - MongoDB</h3></a><br>

    <a href="/realtimeproducts"><h3>REAL TIME PRODUCTS - File</h3></a>

</div><br><hr>

<div>
    <h2>API</h2>
    <a href="/api/products"><h3>PRODUCTS - MongoDB</h3></a>
    <a href="/api/carts"><h3>CARTS - MongoDB</h3></a>
</div>