{{!-- https://handlebarsjs.com/guide/builtin-helpers.html --}}

<h1>HOME</h1><br>

<hr>

<div>
    <h2>NORMAL VIEWS</h2>

    <a href="/products"><h3>PRODUCTS - MongoDB</h2></a>
    <a href="/products/642f4e61ad40756bbf17ed9d"><h3>PRODUCTO DE EJEMPLO - MongoDB</h2></a><br>

    <a href="/carts"><h3>CARTS - MongoDB (Render en Construcción)</h2></a>
    <a href="/carts/642f525085f8337b909b3898"><h3>CART DE EJEMPLO - MongoDB</h2></a><br>

    <a href="/chat"><h3>CHAT - MongoDB</h2></a><br>

    <a href="/realtimeproducts"><h3>REAL TIME PRODUCTS - File</h2></a>

</div><br>

<hr>

<div>
    <h2>API</h2>
    <a href="/api/products"><h3>PRODUCTS - MongoDB</h2></a>
    <a href="/api/carts"><h3>CARTS - MongoDB</h2></a>
</div>