{{!-- https://handlebarsjs.com/guide/builtin-helpers.html --}}

<h1>HOME</h1><br>

<hr>

<div>
    <h2>NORMAL VIEWS</h2>
    <a href="/products"><h3>PRODUCTS (MongoDB)</h2></a>
    <a href="/carts"><h3>CARTS (MongoDB)</h2></a>
    <a href="/realtimeproducts"><h3>REAL TIME PRODUCTS (File)</h2></a>
    <a href="/chat"><h3>CHAT (MongoDB)</h2></a>
</div><br>

<hr>

<div>
    <h2>API</h2>
    <a href="/api/products"><h3>PRODUCTS (MongoDB)</h2></a>
    <a href="/api/carts"><h3>CARTS (MongoDB)</h2></a>
</div>