<div>
    <h2>RENDER VIEWS</h2>

    <h3><a href="/products">PRODUCTS</a></h3>
    <p><b>Requiere Login: </b>Si</p>
    <p><b>Roles: </b>User, Premium, Admin</p>

    <h3><a href="/carts">CARTS</a></h3>
    <p><b>Requiere Login: </b>Si</p>
    <p><b>Roles: </b>User, Premium, Admin</p>

    <h3><a href="/myCart">MY CART</a></h3>
    <p><b>Requiere Login: </b>Si</p>
    <p><b>Roles: </b>User, Premium, Admin</p>

    <h3><a href="/chat">REAL TIME CHAT</a></h3>
    <p><b>Requiere Login: </b>Si</p>
    <p><b>Roles: </b>User</p>

    <h3><a href="/realtimeproducts">REAL TIME PRODUCTS</a> (File & WebSocket)</h3>
    <p><b>Requiere Login: </b>No</p>
    <p><b>Roles: </b>User, Premium, Admin</p>

    <h3><a href="/users">USERS</a></h3>
    <p><b>Requiere Login: </b>Si</p>
    <p><b>Roles: </b>Admin</p>

</div><br>
<hr>

<div>
    <h2>API VIEWS</h2>
    <a href="/api/products">
        <h3>PRODUCTS - MongoDB</h3>
    </a>
    <a href="/api/carts">
        <h3>CARTS - MongoDB</h3>
    </a>
</div>