<h2>Restablecer tu contrase単a.</h2>
<p>Ingresa tu correo y la nueva contrase単a.</p>

<form method="post" action="/api/sessions/reset-password?token={{token}}">
    <input type="email" name="email" placeholder="ejemplo@gmail.com" /><br><br>
    <input type="password" name="newPassword" placeholder="nuevaContrase単a" /><br><br>
    <button type="submit">Restablecer Contrase単a</button>
</form>