<h2>¿Olvidaste tu contraseña?</h2>
<p>Ingresa tu correo para recibir enlace de restablecimiento.</p>

<form method="post" action="/api/sessions/forgot-password">
    <input type="email" name="email" placeholder="ejemplo@gmail.com"/>
    <button type="submit">Solicitar Restablecimiento</button>
</form>