<h1>LOCAL LOGIN</h1>

<div>
    <form method="post" action="/api/sessions/login">
        <input type="text" placeholder="correo" name="email"/><br><br>
        <input type="password" placeholder="contrasena" name="password"/><br><br>
        <button type="submit">Iniciar Session</button>
    </form><br><hr>
    
    <div>
        <h3>Credenciales Admin</h3>
        <p>adminCoder@coder.com</p>
        <p>adminCod3r123</p>
    </div>
</div>