<h1>LOCAL LOGIN</h1>

{{#if resetMessage}}
<div>{{resetMessage}}</div><br>
{{/if}}

<div>
    <form method="post" action="/api/sessions/login">
        <input type="text" placeholder="correo" name="email" /><br><br>
        <input type="password" placeholder="contrasena" name="password" /><br><br>
        <button type="submit">Iniciar Sesión</button>
    </form><br>

    <a href="/forgot-password">
        <button>¿Olvidaste tu contraseña?</button>
    </a>
    <hr>

    <div>
        <h3>Credenciales User</h3>
        <p>test@gmail.com</p>
        <p>123</p>
    </div>

    <div>
        <h3>Credenciales Premium</h3>
        <p>test2@gmail.com</p>
        <p>123</p>
    </div>

    <div>
        <h3>Credenciales Admin</h3>
        <p>adminCoder@coder.com</p>
        <p>123</p>
    </div>

</div>