{{!-- https://handlebarsjs.com/guide/builtin-helpers.html --}}
<div id="titleContainer">
    <h1>REAL TIME PRODUCTS</h1>
    <p>HELLO FROM REALTIMEPRODUCTS.HANDLEBARS</p>
</div>

<div id="productsContainer">
    <ul id="productsList">
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtimeproducts.js"></script>